/build
/captures/
com_crashlytics_export_strings.xml
local.properties
/.gradle
.signing/
.idea/
*.iml
.DS_Store
.DS_Store?
._*
.Trashes
/versions/*
secret/
keystore.jks
keystore.properties
*.jks
app/google-services.json
fastlane/google-play-key.json
/fastlane/metadata/android/**/images/
/fastlane/metadata/android/**/screenshots/
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots